%font--default {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  @extend %font--default;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}