
$track-wrapper____size: 278px;
$track-wrapper____size-doubled: $track-wrapper____size * 2;

.tracks-list {
  @extend .clearfix;
  padding: 0 4px;

  .track-wrapper {
    float: left;

    width: $track-wrapper____size;
    height: $track-wrapper____size;

    &:first-of-type { // temporary, to be replaced with a class
      width: $track-wrapper____size-doubled;
      height: $track-wrapper____size-doubled;
    }

  }

}