
$track-wrapper____size: 279px;
$track-wrapper____size-doubled: $track-wrapper____size * 2;

.tracks-list {
  @extend .clearfix;
  padding: 0 2px;

  .track-wrapper {
    float: left;

    width: $track-wrapper____size;
    height: $track-wrapper____size;

    &.track-wrapper--large {
      width: $track-wrapper____size-doubled;
      height: $track-wrapper____size-doubled;
    }

  }

}